/* Global Styles */

@font-face {
    font-family: 'DS HermannGotisch';
    src: url('DSHermannGotisch.eot');
    src: url('DSHermannGotisch.eot?#iefix') format('embedded-opentype'),
        url('DSHermannGotisch.woff2') format('woff2'),
        url('DSHermannGotisch.woff') format('woff'),
        url('DSHermannGotisch.ttf') format('truetype'),
        url('DSHermannGotisch.svg#DSHermannGotisch') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}@font-face {
    font-family: 'Memesique';
    src: url('Memesique-Regular.eot');
    src: url('Memesique-Regular.eot?#iefix') format('embedded-opentype'),
        url('Memesique-Regular.woff2') format('woff2'),
        url('Memesique-Regular.woff') format('woff'),
        url('Memesique-Regular.ttf') format('truetype'),
        url('Memesique-Regular.svg#Memesique-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



*{
    box-sizing: border-box;
}
body {
    margin:0;
    font-family:'DS HermannGotisch';
    font-weight: normal;
}

img {
    width: 100%; 
    height: auto;  /*this is for aspect ratio*/
}
/* desktop first styles */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-image:url('../img/grey_wash_wall.png'); */
    background-color: rgb(137, 137, 137);
    padding:0, 1rem;
    position: relative;



}


header a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    
}
.brand{
    margin:0;
    /* font-weight: bolder; */
    padding-top: 1rem;
    padding-left: 2rem;
}

.brand a{
    text-decoration: none;
    color: black;
    font-family: 'Memesique';
    font-size: 7rem;
    font-weight: normal;
  
   
}
.mobile-menu {
    display:none;
    text-decoration: none;
}

.menu {
    list-style-type: none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction:row;
    align-items:
    
    


}

.menu li {
    min-width: 18rem;
    /* width: 200%; */
    align-items: center;
    text-align: center;
   
    
    
}
.menu li a {
    display:block;
    padding: 1rem;
    transition: all 0.3s;
    
 }

 .menu li a:hover{
    color:white;
    background-color: rgb(88, 88, 88);
 }
 .container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    

 }
 .thumb {
    /* flex-grow: 0;
    flex-shrink: 0;*/
   /* flex-basis: 23%;  */
    flex: 0 0 23%;
    /* width: 23%; */
    margin: 2rem;
 }

/* Tablet Size */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    body{
        background-color: green;
    }
    .thumb{
        flex-basis: 45%;
        margin: 1rem auto;
    }
    
}

/* Mobile Phone Size */
@media screen and (max-width: 768px) {
   
    body{
    background-color: blue ;
    }
    header{
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        text-align: center;
        padding: 0;

    }
    .brand{
        margin: 0.5rem;
    }
    .mobile-menu{
        display: block;
        color: beige;
        font-size: 2rem;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }
    .menu{
        flex-direction: column;
        width: 100%;

    }
    .menu li {
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .container{
        flex-direction: column;
    }
    .thumb{
        flex:1 1 100%;
        margin: 1rem;

    }

}
