@font-face {
    font-family: 'DS HermannGotisch';
    src: url('DSHermannGotisch.eot');
    src: url('DSHermannGotisch.eot?#iefix') format('embedded-opentype'),
        url('DSHermannGotisch.woff2') format('woff2'),
        url('DSHermannGotisch.woff') format('woff'),
        url('DSHermannGotisch.ttf') format('truetype'),
        url('DSHermannGotisch.svg#DSHermannGotisch') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Memesique';
    src: url('Memesique-Regular.eot');
    src: url('Memesique-Regular.eot?#iefix') format('embedded-opentype'),
        url('Memesique-Regular.woff2') format('woff2'),
        url('Memesique-Regular.woff') format('woff'),
        url('Memesique-Regular.ttf') format('truetype'),
        url('Memesique-Regular.svg#Memesique-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

